<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Example.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>WebShell-iOS.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>WebShell-macOS.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>WebShellExample-iOS.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>27448B2220170ABA001FC925</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>27448B3420170ABA001FC925</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>27448B3F20170ABA001FC925</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>27C9DBBB204146A100A87E9E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>27C9DBC3204146A100A87E9E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
